#botonera img{
	width: 150px;
}	

#header{
	width: 50%;
	margin-left: 25%;
	border: inset 3px gray;
}

.section__map iframe{
	border: 6px inset #db2151;
	margin-top: 2rem;
}
	.section__map h2{
		margin-top: 5rem;
	}

.section__yt iframe{
	margin-top: 2rem;
}
	.section__yt h2{
		margin-top: 5rem;
	}	